// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui.scss";

// Temp fix for reactstrap
@import '~@coreui/coreui/scss/_dropdown-menu-right.scss';

// If you want to add something do it here
@import "custom";
#modalCenter{
    top:30%;
    transform:translateY(-30%) !important;
    border: none;
  }

#fa-pin{
    margin-top: 3px;
}

#modalbtn:hover{
    background: transparent;
}
#modalbtn{
    border:none;
}

.dash-card{
    max-height: 466px;
}

.Username{
    color: #63c2de;
    background-color: transparent;
    border: none;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.break1{
    width:20%;
}

.break2{
    width: 35%;
}

.card3-head{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 2px;
}
.user-tag{
    font-size: 1em;
    margin-right: 0.6em;
}

.add-btn{
    border-width: 2px;
    font-weight: 550;
}
.add-btn:hover,
.add-btn:focus,
.add-btn:active{
    color: white;
}

.male{
    color: #63c2de;
}
.female{
    color: #f86c6b;
}

.btn:active,
.btn:focus,
.btn:hover{
  outline: none !important;
  box-shadow: none;
}

.pagi-header{
    padding-top: 0.25em;
}

.page-container:after {
    content: '.';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}
.page-container {
    zoom: 1;
    margin-left: 680px;
    padding-right: 0;
}

.amount{
    font-size: 0.75rem;
}

.page-container li {
    list-style: none;
    float: left;
    padding: 0px 0px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 20%;
    height: 28px;
    width: 28px;
    line-height: 28px;
    margin-right: 5px;
    text-align: center;
    font-size: 0.8rem;
    color: #20a8d8;
    background: #fff;
    border-color: #20a8d8;

}

.page-container li:last-child {
    margin-right: 0px;
    width:35px;
}

.page-container li:first-child {
    margin-left: 0px;
    width: 35px;
}

.activePage, 
.page-container li:hover {
    color: #fff !important;
    background: #20a8d8 !important;
    border-color: #20a8d8 !important;
}

.page-container li.nomore, .page-container li.nomore:hover{
    color: rgb(128, 128, 128) !important;
    border-color: rgb(128, 128, 128) !important;
    background:  transparent !important;
    cursor: not-allowed !important;
}

.page-container li.ign:hover{
    border:none !important;
    background-color: white !important;
    color: #20a8d8 !important;
    cursor: default !important
}

.page-container li.ign{
    border:none !important;
    background-color: White !important;
    width: 20px !important;
}

.group{
    height:17rem;
}

.people_ex{
    font-size: 0.75rem;
}
.gp_event{
    font-size: 12px;
    border-left: 1px double #20a8d8;
}
  
  input[type=file] {
    font-size: 20px;
    left: 0;
    top: 0;
    max-width: 10px;
    opacity: 100;
  }

  .inputhere{
      width:5px;
  }
// ie fixes
@import "ie-fix";
